In [17]:
import os

import pandas as pd
import requests

from urllib.parse import urljoin
from dotenv import load_dotenv

load_dotenv()

True

In [10]:
os.environ["MARKETSTACK_ACCESS_KEY"]

'7a9317cca0ff47ec76931c57c9d15ecd'

In [45]:
# Env
MARKETSTACK_URL = os.environ["MARKETSTACK_URL"]
MARKETSTACK_ACCESS_KEY = os.environ["MARKETSTACK_ACCESS_KEY"]

# URLs
MARKETSTACK_URL_EOD = urljoin(
    MARKETSTACK_URL, f"eod?access_key={MARKETSTACK_ACCESS_KEY}"
)
MARKETSTACK_URL_INTRADAY = urljoin(
    MARKETSTACK_URL, f"intraday?access_key={MARKETSTACK_ACCESS_KEY}"
)
MARKETSTACK_URL_TICKERS = urljoin(
    MARKETSTACK_URL, f"tickers?access_key={MARKETSTACK_ACCESS_KEY}"
)
MARKETSTACK_URL_EXCHANGES = urljoin(
    MARKETSTACK_URL, f"exchanges?access_key={MARKETSTACK_ACCESS_KEY}"
)
MARKETSTACK_URL_TIMEZONES = urljoin(
    MARKETSTACK_URL, f"timezones?access_key={MARKETSTACK_ACCESS_KEY}"
)


# ALPHA

In [25]:
# Parametres documentation
parameter_documentation = {
    "access_key": "[Required] Specify your API access key, available in your account dashboard.",
    "symbols": "[Required] Specify one or multiple comma-separated stock symbols (tickers) for your request, e.g. AAPL or AAPL,MSFT. Each symbol consumes one API request. Maximum: 100 symbols",
    "exchange": "[Optional] Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange. Example: XNAS",
    "sort": "[Optional] By default, results are sorted by date/time descending. Use this parameter to specify a sorting order. Available values: DESC (Default), ASC.",
    "date_from": "[Optional] Filter results based on a specific timeframe by passing a from-date in YYYY-MM-DD format. You can also specify an exact time in ISO-8601 date format, e.g. 2020-05-21T00:00:00+0000.",
    "date_to": "[Optional] Filter results based on a specific timeframe by passing an end-date in YYYY-MM-DD format. You can also specify an exact time in ISO-8601 date format, e.g. 2020-05-21T00:00:00+0000.",
    "limit": "[Optional] Specify a pagination limit (number of results per page) for your API request. Default limit value is 100, maximum allowed limit value is 1000.",
    "offset": "[Optional] Specify a pagination offset value for your API request. Example: An offset value of 100 combined with a limit value of 10 would show results 100-110. Default value is 0, starting with the first available result.",
}

In [20]:
def get_daily_EOD(company):
    params = {"symbols": company, "limit": "1000"}
    r = requests.get(MARKETSTACK_URL_EOD, params=params)
    data = r.json()
    df = pd.json_normalize(data["data"])

    return df

In [40]:
def get_tickers(stock_exchange):
    params = {"limit": "1000", "exchange": stock_exchange}
    r = requests.get(MARKETSTACK_URL_TICKERS, params=params)
    data = r.json()
    print(r.status_code)
    df = pd.json_normalize(data["data"])

    return df

In [49]:
def get_exchange():
    params = {"limit": "1000"}
    r = requests.get(MARKETSTACK_URL_EXCHANGES, params=params)
    data = r.json()
    print(r.status_code)
    df = pd.json_normalize(data["data"])

    return df

In [50]:
df4 = get_exchange()

200

In [52]:
df4.name.values

array(['NASDAQ Stock Exchange', 'New York Stock Exchange', 'NYSE ARCA',
       'OTC Markets', 'Buenos Aires Stock Exchange', 'Bahrein Bourse',
       'Euronext Brussels', 'B3 - Brasil Bolsa Balcão S.A',
       'Toronto Stock Exchange', 'Canadian Securities Exchange',
       'Santiago Stock Exchange', 'Shanghai Stock Exchange',
       'Shenzhen Stock Exchange', 'Bolsa de Valores de Colombia',
       'Copenhagen Stock Exchange', 'Eqyptian Exchange',
       'Tallinn Stock Exchange', 'Helsinki Stock Exchange',
       'Euronext Paris', 'Deutsche Börse', 'Börse Stuttgart',
       'Deutsche Börse Xetra', 'Hong Kong Stock Exchange',
       'Nasdaq Island', 'Bombay Stock Exchange',
       'National Stock Exchange India', 'Jakarta Stock Exchange',
       'Tel Aviv Stock Exchange', 'Borsa Italiana',
       'Nagoya Stock Exchange', 'Fukuoka Stock Exchange',
       'Sapporo Stock Exchange', 'Nasdaq Riga', 'Nasdaq Vilnius',
       'Malaysia Stock Exchange', 'Mexican Stock Exchange',
       'Euronext Amsterdam', 'New Zealand Stock Exchange',
       'Nigerian Stock Exchange', 'Oslo Stock Exchange',
       'Bolsa de Valores de Lima', 'Warsaw Stock Exchange',
       'Euronext Lisbon', 'Qatar Stock Exchange', 'Moscow Stock Exchange',
       'Saudi Stock Exchange', 'Belgrade Stock Exchange',
       'Singapore Stock Exchange', 'Johannesburg Stock Exchange',
       'Korean Stock Exchange', 'Bolsas y Mercados Españoles',
       'Stockholm Stock Exchange', 'SIX Swiss Exchange',
       'Taiwan Stock Exchange', 'Stock Exchange of Thailand',
       'Istanbul Stock Exchange', 'Dubai Financial Market',
       'London Stock Exchange', 'Ho Chi Minh Stock Exchange',
       'American Stock Exchange', 'Cboe BZX U.S. Equities Exchang',
       'US Mutual Funds', 'OTC Bulletin Board', 'OTC Grey Market',
       'OTCQB Marketplace', 'OTCQX Marketplace', 'OTC PINK current',
       'Investors Exchange', 'INDEX'], dtype=object)

In [54]:
df4.country.value_counts()

USA                     13
Japan                    3
Germany                  3
China                    2
Canada                   2
India                    2
Mexico                   1
Serbia                   1
Lithuania                1
Belgium                  1
Indonesia                1
Argentina                1
Hong Kong                1
Chile                    1
Brazil                   1
Taiwan                   1
Finland                  1
Iceland                  1
Colombia                 1
Denmark                  1
Saudi Arabia             1
Portugal                 1
Egypt                    1
Qatar                    1
United Arab Emirates     1
France                   1
Poland                   1
Nigeria                  1
Sweden                   1
Israel                   1
Switzerland              1
Spain                    1
Norway                   1
Latvia                   1
Thailand                 1
South Africa             1
Singapore                1
Vietnam                  1
New Zealand              1
Russia                   1
Turkey                   1
Netherlands              1
Estonia                  1
Bahrain                  1
Peru                     1
Italy                    1
South Korea              1
Malaysia                 1
United Kingdom           1
Name: country, dtype: int64

In [44]:
df3 = get_tickers("XMAD")

404

KeyError: 'data'

In [43]:
df3

,name,symbol,has_intraday,has_eod,country,stock_exchange.name,stock_exchange.acronym,stock_exchange.mic,stock_exchange.country,stock_exchange.country_code,stock_exchange.city,stock_exchange.website
0,Wuliangye Yibin Company Ltd,000858.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
1,Midea Group Company Ltd,000333.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
2,Gree Electric Appliances Inc of Zhuhai,000651.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
3,China Vanke Company Ltd,000002.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
4,Hangzhou Hikvision Digital Techgy Company Ltd,002415.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Hangzhou Steam Turbine Company Ltd,200771.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
996,Fujian Guanfu Modern Household Wares Company,002102.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
997,Xiwang Foodstuffs Company Ltd,000639.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
998,Der International Home Furnishing Company Ltd,002631.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn
999,Oceans King Lighting Science Technology Compan...,002724.XSHE,False,True,None,Shenzhen Stock Exchange,SZSE,XSHE,China,CN,Shenzhen,www.szse.cn

In [ ]:
SZSE

In [34]:
df2["stock_exchange.name"].value_counts()

B3 - Brasil Bolsa Balcão S.A    150
Copenhagen Stock Exchange       150
Toronto Stock Exchange          148
Santiago Stock Exchange         129
New York Stock Exchange         111
Shanghai Stock Exchange          97
Bolsa de Valores de Colombia     56
Shenzhen Stock Exchange          53
Eqyptian Exchange                37
NASDAQ Stock Exchange            34
Bahrein Bourse                   28
OTC Markets                       5
TSX Venture Exchange              1
Canadian Securities Exchange      1
Name: stock_exchange.name, dtype: int64

In [23]:
df

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,symbol,exchange,date
0,153.76,154.63,153.10,154.30,57866066.0,NaN,NaN,154.300000,NaN,NaN,1.0,AAPL,XNAS,2021-09-03T00:00:00+0000
1,153.87,154.72,152.40,153.65,69600446.0,NaN,NaN,153.650000,NaN,NaN,1.0,AAPL,XNAS,2021-09-02T00:00:00+0000
2,152.83,154.98,152.34,152.51,80313711.0,NaN,NaN,152.510000,NaN,NaN,1.0,AAPL,XNAS,2021-09-01T00:00:00+0000
3,152.66,152.80,151.29,151.83,86453117.0,NaN,NaN,151.830000,NaN,NaN,1.0,AAPL,XNAS,2021-08-31T00:00:00+0000
4,149.00,153.49,148.61,153.12,90956723.0,NaN,NaN,153.120000,NaN,NaN,1.0,AAPL,XNAS,2021-08-30T00:00:00+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,114.57,115.23,110.00,112.00,180860325.0,115.031319,109.810337,111.806888,114.372457,180860325.0,1.0,AAPL,XNAS,2020-09-11T00:00:00+0000
248,120.36,120.50,112.50,113.49,182274391.0,120.292233,112.306026,113.294319,120.152474,182274391.0,1.0,AAPL,XNAS,2020-09-10T00:00:00+0000
249,117.26,119.14,115.26,117.32,176940455.0,118.934578,115.061268,117.117716,117.057819,176940455.0,1.0,AAPL,XNAS,2020-09-09T00:00:00+0000
250,113.95,118.99,112.68,112.82,231366563.0,118.784836,112.485716,112.625475,113.753526,231366563.0,1.0,AAPL,XNAS,2020-09-08T00:00:00+0000
251,120.07,123.70,110.89,120.96,332607163.0,123.486715,110.698802,120.751440,119.862974,332607163.0,1.0,AAPL,XNAS,2020-09-04T00:00:00+0000